body {
    margin: 0;
    font-family: 'Press Start 2P', cursive;;
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #21325E;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  a {
    color: white;
  }

  ul.nav a:hover { 
    color: #fff !important; 
  }

  h1 {
    color: #F0F0F0;
  }

  div {
    color: #F0F0F0;
  }

  p {
    color: #000000;
  }

  .app {
    background-color: #3E497A;
    color: white;
    width: 600px;
    min-height: 200px;
    height: min-content;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: space-evenly;
  }

  .card-header {
    background-color: #3E497A;
    color: #F1D00A;
  }

  .card-body {
    background-color: #393E46;
    color: #F0F0F0;
  }

  .hero-cage {
    width: 500px;
    height: 500px;
  }

  .score-section {
    display: flex;
    font-size: 24px;
    align-items: center;
  }

  .question-section {
    width: 100%;
    position: relative;
  }
  
  .question-count {
    margin-bottom: 20px;
  }
  
  .question-count span {
    font-size: 28px;
  }
  
  .question-text {
    margin-bottom: 12px;
  }

  .answer-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .my-button {
    width: 70%;
    font-size: 16px;
    color: #ffffff;
    background-color: #252d4a;
    border-radius: 15px;
    display: flex;
    padding: 5px;
    justify-content: flex-start;
    align-items: center;
    border: 5px solid #234668;
    cursor: pointer;
  }

  .navbar {
    align-content: center;
    text-align: center;
    border-bottom: 1px solid #EEEEEE;
    border-top: 1px solid #EEEEEE;
  }
  
  .nav {
    align-items: center;
  }

  .nav-item li {
    display: inline-block;
    text-align:center;
  }

  .correct {
    background-color: #2f922f;
  }
  
  .incorrect {
    background-color: #ff3333;
  }
  
  button:hover {
    background-color: #555e7d;
  }
  
  button:focus {
    outline: none;
  }
  
  button svg {
    margin-right: 5px;
  }

  .other {
    box-shadow: 6px 0 black, -6px 0 black, 0 -6px black, 0 6px black;
    margin: 6px auto;
  }

  .container {
    max-width: '100%';
  }

  .card-text {
    color: #F0F0F0;
  }

  .diff-btn-nav{
    font-size: 16px;
    color: #ffffff;
    background-color: #21325E;
    background: #21325E;
    display: flex;
    padding: 5px;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 6px 0 black, -6px 0 black, 0 -6px black, 0 6px black;
    margin: 6px auto;
    cursor: pointer;
  }

  .diff-btn {
    font-size: 16px;
    color: #ffffff;
    background-color: #3E497A;
    background: #3E497A;
    display: flex;
    padding: 5px;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 6px 0 black, -6px 0 black, 0 -6px black, 0 6px black;
    margin: 6px auto;
    cursor: pointer;
  }